@import url(https://fonts.googleapis.com/earlyaccess/sawarabimincho.css);
@font-face {
    font-family: "Allura";
    src: url(fonts/Allura-Regular.otf);
}

html {
    overflow: auto;
}

body {
    overflow: hidden;
    min-width: 400px;
}

.Mincho {
    font-family: 'Sawarabi Mincho';
}

.Allura {
    font-family: "Allura";
}

.BackGround {
    background-color: #2A2421;
}

.PaperBackGround {
    position: absolute;
    background-color: #DDD1C2;
    background-image: url(../image/PaperTex.jpg);
    width: 88.888%;
    height: auto;
    background-blend-mode: multiply;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 5px 5px 10px #000;
    -webkit-box-shadow: 5px 5px 10px #000;
    -moz-box-shadow: 5px 5px 10px #000;
    top: 0px;
    left: 0px;
}

.LogoHeader {
    position: absolute;
    top: 0px;
    width: auto;
    height: 8.33%;
    z-index: 100;
    box-shadow: 5px 5px 10px #555;
    -webkit-box-shadow: 5px 5px 10px #555;
    -moz-box-shadow: 5px 5px 10px #555;
    background-color: white;
    left: 0;
}

img.LogoHeaderImg {
    width: auto;
    height: 90%;
    transform: translateY(5%);
    left: 0;
}

.CatchCopy {
    position: relative;
    width: 100%;
    height: auto;
    left: 1%;
    display: inline;
}

.CatchCopy span {
    position: absolute;
    font-size: 1.5vw;
    left: 2em;
    width: 40vw;
    display: flex;
    top: 2em;
    line-height: 200%;
}

img.CatchCopyImg {
    width: 70%;
    height: auto;
}

.TitlePhoto {
    position: absolute;
    width: 100vw;
    height: auto;
    transform: rotateZ(5deg);
    box-shadow: 5px 5px 10px #555;
    -webkit-box-shadow: 5px 5px 10px #555;
    -moz-box-shadow: 5px 5px 10px #555;

}

.TitlePhoto img {
    position: absolute;
    width: 30%;
    height: auto;
    right: 20%;
    margin-left: 5em;

}


.PleaseScroll img {
    width: 9vw;
}

@media screen and (min-width: 600px) {
    .PleaseScroll img {
        width: 9vw;
    }
    .PleaseScroll {
        position: relative;
        top: 10em;
        left: 10em;
    }
}

@media screen and (max-width: 600px) {
    .PleaseScroll img {
        width: 10em;
    }
    .PleaseScroll {
        position: relative;
        top: 40vh;
        left: 4.5em;
    }
}



/* ウィンドウ幅が0〜 750pxの場合に適用するCSS */

.CatchCopy {
    position: relative;
    top: 10%;
    text-align: center;
}

img.CatchCopyImg {
    width: 30%;
    height: auto;
}

img.TitlePhotoImg {
    width: 30%;
    height: auto;
    transform: translateY(1.5%);
}



img.PleaseScrollImg {
    width: 100%;
    height: auto;
}



.CharacterBorder {
    position: relative;
    padding: 0.25em 2em;
    margin: 20px, 20px;
    color: #716151;
    width: 75vw;
}

.CharacterBorder:before,
.CharacterBorder:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
}

.CharacterBorder:before {
    border-left: solid 1px #5767bf;
    border-top: solid 1px #5767bf;
    top: 0;
    left: 20px;
}

.CharacterBorder:after {
    border-right: solid 1px #5767bf;
    border-bottom: solid 1px #5767bf;
    bottom: 0;
    right: 20px;
}

.CharacterBorder p {
    margin: 0;
    padding: 0;
}

.CharacterTitle {
    margin: 5em 0;
    margin-bottom: 1em;
    font-size: 1.5em;
    position: relative;
    border-bottom: 1px solid;
}

.CharacterSub {
    position: relative;
    font-size: 0.9em;
    font-family: "Allura";
    margin-left: 0.3em;
}

img.Circle {

    border-radius: 2000px;
    -moz-border-image: border-radius 200px;
    -webkit-border-image: border-radius 200px;
    display: inline-block;
    position: absolute;
    margin-top: 1em;
    transition: all 300ms 0s ease;
}

img.Circle:hover {
    -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
    -o-filter: brightness(0.4);
    -ms-filter: brightness(0.4);
    filter: brightness(0.4);
    color: white;
}

.FriendsSub {
    position: relative;
    transform-origin: left;
    text-align: left;
    color: #876543;
    left: 2%;
    font-size: 1em;
    margin: 0 auto;
}

h2 {
    position: relative;
    transform-origin: left;
    text-align: left;
    color: #876543;
    left: 2%;
    top: 5%;
    margin: 0 auto;
}


@media screen and (min-width: 600px) {
    img.Circle {
        height: 90%;
        width: auto;
    }
    p.CircleText {
        margin-left: 15em;
        margin-top: 2em;
        margin-bottom: 5%;
        line-height: 200%;
    }
    h2 {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 600px) {
    img.Circle {
        width: 37%;
        height: auto;
    }
    p.CircleText {
        margin-top: 10em;
    }
    h2 {
        font-size: 2em;
    }
}


p.CircleText:first-letter {
    font-size: 2em;
}

.SmallCharacter {
    position: relative;
    text-align: center;
}

.SmallCharacter img {
    border-radius: 2000px;
    -moz-border-image: border-radius 200px;
    -webkit-border-image: border-radius 200px;
    display: inline-block;
    position: absolute;
    margin-top: 1em;
    transition: all 300ms 0s ease;
    width: 6em;
    height: 6em;
    transition: all 300ms 0s ease;
}

.SmallCharacter img:hover {
    -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
    -o-filter: brightness(0.4);
    -ms-filter: brightness(0.4);
    filter: brightness(0.4);
    color: white;
}

img.PleaseScrollImg {
    width: 100%;
    height: auto;
}


.SideButtonSelected {
    position: fixed;
    background-color: #4F002F;
    right: 8px;
    color: #FFFFFF;
    background-image: url(../image/PaperTex.jpg);
    background-blend-mode: multiply;
    width: 13.70%;
    height: 14.583%;
    border-radius: 3.7037%;
    font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;

    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-align: center;
}

.SideButtonSelected a {
    position: fixed;
    display: block;
    right: 8px;
    color: #000000;
    width: 10.7%;
    height: 14.583%;
    border-top-right-radius: 3.7037%;
    border-bottom-right-radius: 3.7037%;

}


.SideButtonDeSelected {
    position: fixed;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f8096+0,b5b3d3+18 */
    background: #7f8096;
    /* Old browsers */
    background: -moz-linear-gradient(left, #7f8096 0%, #b5b3d3 18%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #7f8096 0%, #b5b3d3 18%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #7f8096 0%, #b5b3d3 18%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f8096', endColorstr='#b5b3d3', GradientType=1);
    /* IE6-9 */
    display: block;
    font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
    right: 8px;
    color: #000000;
    width: 10.7%;
    height: 14.583%;
    border-top-right-radius: 3.7037%;
    border-bottom-right-radius: 3.7037%;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-align: center;

}

.SideButtonDeSelected a {
    position: fixed;
    display: block;
    right: 8px;
    color: #000000;
    width: 10.7%;
    height: 14.583%;
    border-top-right-radius: 3.7037%;
    border-bottom-right-radius: 3.7037%;

}


.SideButtonPositionTop0 {
    top: 6.25%;
}

.SideButtonPositionTop1 {
    top: 22.91%;
}

.SideButtonPositionTop2 {
    top: 39.58%;
}

.SideButtonPositionTop3 {
    top: 56.25%;
}

div.Header {
    position: fixed;
    height: 3.5em;
    width: 100vw;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
    left: 0em;
    top: 0px;
    font-family: 'Sawarabi Mincho';
    z-index: 100;
    background-color: white;
    background-image: url(BrickUI.jpg);
    background-size: 30em;
    color: white;
}

div.Header p {
    position: relative;
    display: inline-block;
    margin: 1em;
    margin-left: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white;
    font-weight: 500;
    transition: all 300ms 0s ease;
}

div.Header a {
    text-decoration: none;
    display: block;
    transition: all 300ms 0s ease;
    color: white;
}

div.Header p:hover {
    border-left: 3px solid white;
    border-right: 3px solid white;
}

div.Header a:after {
    content: "";
    width: 0%;
    border-bottom: 2px solid #2A2421;
    transition: all 300ms 0s ease;
    display: block;
}

div.Header a:hover:after {
    content: "";
    width: 100%;
    border-bottom: 2px solid #2A2421;
    transition: all 300ms 0s ease;
    display: block;
}

.Footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 10%;
    left: 0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3b3b3+0,e6e6e6+5,e6e6e6+95,b3b3b3+100 */
    background: #b3b3b3;
    /* Old browsers */
    background: -moz-linear-gradient(left, #b3b3b3 0%, #e6e6e6 5%, #e6e6e6 95%, #b3b3b3 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b3b3b3 0%, #e6e6e6 5%, #e6e6e6 95%, #b3b3b3 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b3b3b3 0%, #e6e6e6 5%, #e6e6e6 95%, #b3b3b3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#b3b3b3', GradientType=1);
    /* IE6-9 */
    box-shadow: 0px -5px 40px #0006;
    -webkit-box-shadow: 0px -5px 40px #0006;
    -moz-box-shadow: 0px -5px 40px #0006;

}

img.GenesisRecordLogoImg {
    position: relative;
    height: 20%;
    width: auto;
    transform: translateY(60%) translateX(5%);
}

.FooterText2 {
    text-align: right;
    transform: translateY(-120%) translateX(-5%);
}

.BannersParent {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateY(-20%);
}

img.AppStoreBanner {
    position: absolute;
    width: 8em;
    top: 20%;
    left: 1em;
}

img.GooglePlayBanner {
    position: absolute;
    height: auto;
    top: 7%;
    left: 9em;
    width: 11em;
}

.Title {
    text-align: center;
    margin-top: 1em;
}

.SubTitle {
    text-align: center;
    font-size: 2vw;
}

.SubSubTitle {
    text-align: center;
    font-size: 0.9em;
}

.ContentOfTitle {
    position: absolute;
    width: 45vw;
    line-height: 150%;
    font-size: 1em;
}

@media screen and (min-width: 600px) {
    .Title {
        font-size: 6vw;
    }
    .SubTitle {
        font-size: 2vw;
    }
}

@media screen and (max-width: 600px) {
    .Title {
        font-size: 5em;
        margin-left: -0.3em;
    }
    .SubTitle {
        font-size: 1em;
    }
}

.ScrollUp {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
}

.ScrollUp img {
    width: 70%;
    margin: 0px;
    padding: 0px;
    height: auto;
}
