@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
html {
    margin: 0px 0px 0px 0px;
    padding: 0 0 0 0;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0 0 0 0;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-family: "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: 500;
}

a.Line {
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
    -webkit-transition: all .3s;
    transition: all .3s;
}

a {
    transition: all .3s;
    text-decoration: none;
}

a:hover {
    opacity: .5;
}

.Center {
    text-align: center;
}

.Bold {
    font-weight: 400;
}

.Underline {
    border-bottom: 1px solid black;
}

header {
    width: 100vw;
    height: 5em;
    background-color: white;
    opacity: .8;
    position: fixed;
    z-index: 1000;
    left: 0px;
    top: 0px;
    text-align: center;
    border-bottom: 1px solid black;
    -webkit-transition: all .3s;
    transition: all .3s;
}

header img {
    height: 90%;
    width: auto;
    margin-top: .2em;
}

header button {
    position: absolute;
    height: 90%;
    width: auto;
    right: 3%;
    font-size: 3em;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

header button:hover {
    opacity: .3;
}

header img.Search {
    position: absolute;
    height: 40%;
    right: 1.5em;
    top: 1.4em;
    -webkit-transition: all .3s;
    transition: all .3s;
}

header input.SearchInputField {
    position: absolute;
    display: none;
    top: 29%;
    right: 5px;
    height: 40%;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 2.8em;
    z-index: -1;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-align: right;
}

header img.RemoveResult {
    position: absolute;
    width: 1em;
    height: auto;
    display: none;
    top: 1.9em;
    right: 1em;
}

@media screen and (max-width:680px) {
    header input.SearchInputField {
        width: 5em;
    }
    .SearchChanged {
        margin-right: 2.4em;
        height: 20%;

    }
}

@media screen and (min-width:680px) {
    header input.SearchInputField {
        width: 18em;
    }
    .SearchChanged {
        margin-right: 11em;
        height: 20px;
    }
}

header input.SearchInputField[type="text"] {
    position: absolute;
    border: 1px solid #999;
}

header input.SearchInputField[type="text"]:focus {
    position: absolute;
    outline: 0;
}

header img.Menu {
    position: absolute;
    height: 40%;
    left: 1.5em;
    top: 1.4em;
}

#nav-drawer {
    position: absolute;
    top: 30%;
    right: 1vw;
}

/*チェックボックス等は非表示に*/

.nav-unshown {
    display: none;
}

/*アイコンのスペース*/

#nav-open {
    display: inline-block;
    width: auto;
    font-size: 20em;
    vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/

/*閉じる用の薄黒カバー*/

#nav-close {
    display: none;
    /*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;
    /*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}

/*中身*/

#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /*最前面に*/
    width: 90%;
    /*右側に隙間を作る*/
    max-width: 330px;
    /*最大幅*/
    height: 100%;
    color: black;
    /*背景色*/
    transition: .3s ease-in-out;
    /*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    /*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/

#nav-input:checked ~ #nav-close {
    display: block;
    /*カバーを表示*/
    opacity: .5;
}

#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /*中身を表示*/
    box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
}

.Back {
    background-image: url(Mock.jpg);
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0px, 0px, 0px, 0px;
    padding: 0px, 0px, 0px, 0px;
    background-color: #464646;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    -moz-background-size: cover;
    background-size: cover;
    display: inline-block;
    background-color: #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

.Back::before {
    /* 透過した黒を重ねる */
    background-color: rgba(0, 0, 0, 0.5);
    /* どの範囲に重ねるかを指定 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    z-index: -1;
}

.Back .Title {
    color: white;
    font-size: 5em;
    text-align: center;
    vertical-align: middle;
    margin-top: 30vh;
    font-weight: 300;
    letter-spacing: .04em;
    z-index: 10;
}

.Sub {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
}

@media screen and (max-width: 500px) {
    /* 表示領域が320px以下の場合に適用するスタイル */
    .Back .Title {
        font-size: 2.5em;
    }

}

@media screen and (min-width: 500px) {
    /* 表示領域が800px以上の場合に適用するスタイル */
    .Back .Title {
        font-size: 5em;
    }

}

div.Sub {
    font-size: .5em;
    font-weight: 200;
    color: white;
}

a.viewDetail {
    z-index: 100;
}

div.Center {
    text-align: center;
}

button.viewDetail {
    position: relative;
    letter-spacing: .04em;
    font-size: 1em;
    display: inline-block;
    width: 200px;
    height: 54px;
    text-decoration: none;
    line-height: 54px;
    outline: none;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    line-height: 50px;
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: 100;
    top: 15vh;

}

button.viewDetail::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

button.viewDetail:hover {
    background-color: rgba(255, 255, 255, .2);
    letter-spacing: .2em;
    border-radius: 25px 25px 25px 25px;
}

.StartContent {
    top: 100vh;
    position: relative;
}

article.Title {
    margin-top: 2em;
    font-weight: 350;
    padding-left: .6em;
    letter-spacing: .2em;
    font-size: 2em;
    border-bottom: 1.2px solid black;
    border-left: 5px solid black;
    margin-left: .5em;
}

article.Content {
    margin-top: 1em;
    margin-left: 1.5em;
    margin-right: 1em;
    font-weight: 250;
    letter-spacing: .1em;
    font-size: 1em;
    line-height: 180%;
}


h1 {
    font-weight: 350;
    letter-spacing: .2em;
    font-size: 3em;
    font-weight: 400;
    margin-left: 1em;
    margin-right: 1em;
}

h2 {
    font-weight: 350;
    letter-spacing: .2em;
    font-size: 2em;
    font-weight: 400;
    margin-left: 1em;
    margin-right: 1em;
}

h3 {
    font-weight: 350;
    letter-spacing: .2em;
    font-size: 1.5em;
    font-weight: 400;
    margin-left: 1em;
    margin-right: 1em;
}

article.Content img {
    border-radius: 10px 10px 10px 10px;
    width: 20%;
    height: auto;
    margin-top: 1em;
}

button.install {
    border-radius: 10px 10px 10px 10px;
    padding-left: 1em;
    padding-right: 1em;
    color: #3F9BDB;
    border: 1px solid #3F9BDB;
    position: relative;
    margin-left: 23%;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    background-color: white;
}

button.install:hover {
    opacity: .5;
}

article.Content .Caption {
    position: relative;
    display: inline;
    top: -14vw;
    padding-left: 1em;
}

div.Icons {
    text-align: center;
}

img.TwitterIcon {
    width: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
    max-width: 8em;
}

img.YoutubeIcon {
    width: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
    max-width: 8em;
}

img.MailIcon {
    width: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
    max-width: 8em;
}

table.Table {
    border-collapse: collapse;
    width: 100%;
}

th.t_top {
    border-top: #be1309 4px solid;
    width: 180;
}

table.Table th {
    border-bottom: #e3e3e3 1px dotted;
    text-align: left;
    padding: 10px;
    font-weight: normal;
}

table.Table td.t_top {
    border-top: #b3b3b3 4px solid;
}

table.Table td {
    border-bottom: #e3e3e3 1px dotted;
    text-align: left;
    padding: 10px;
}

table.Table tr.HoverAnimation:hover {
    background-color: #3F9BDB;
    color: white;
}

div.Members {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    width: 90vw;
    flex-wrap: wrap;
    display: flex;
}

div.Members div.Box {
    width: 50vh;
    height: 50vh;
    justify-content: flex-start;
    margin-right: 1em;
    flex-wrap: nowrap;
    display: inline-flex;
}

div.Members div.Box img {
    border-radius: 10em 10em 10em 10em;
    height: 30%;
    width: 30%;
    margin-right: 1em;
}

div.Members div.Box span.Title {
    padding-left: 1em;
    display: contents;
}

div.Members div.Box span.Content {
    font-weight: 300;
    display: contents;
}

#acMenu dt {
    display: block;
    line-height: 50px;
    text-align: center;
    border: #666 1px solid;
    cursor: pointer;
    border-top: black 4px solid;
    width: 100%;
}

#acMenu dd {
    display: none;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    left: 0px;
}

footer {
    display: block;
    position: relative;
    background-color: #142955;
    height: 6em;
    margin: 0px, 0px, 0px, 0px;
    padding: 0px, 0px, 0px, 0px;
    color: white;
    font-weight: 200;
    letter-spacing: .1em;
}

footer .FooterTitle {
    position: absolute;
    vertical-align: middle;
    padding-top: 1em;
    padding-left: 3em;
    font-size: 1.5em;
    bottom: 1.5em;
}

footer .FooterTitle::after {
    content: "十代が作る、俺たちのゲーム会社。";
    font-size: 0.3em;
    position: absolute;
    left: 7em;
    bottom: -2em;
}

footer .FooterTitle img {
    position: absolute;
    width: 2em;
    bottom: 0px;
    left: 0em;
    margin-left: .5em;
    margin-bottom: -.2em;
}

i.Twitter {
    font-size: 3em;
    color: aqua;
}

.ico {
    font-family: "Font Awesome\ 5 Brands";
}

.Twi:before {
    content: "\f081";
}

.SiteMap {
    background-color: #142955;
    margin: 0px 0px 0px 0px;
    padding-left: 1em;
    padding-top: 1em;
    color: white;
    word-wrap: break-word;
    padding-bottom: 2em;
}

.SiteMap .Box {
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: inline;
    padding-left: .5em;
    padding-right: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    letter-spacing: .1em;
    line-height: 220%;
}

article.Copy {
    background-color: #142955;
    text-align: center;
    margin: 0px 0px 0px 0px;
    width: 90vw;
    color: white;
    font-weight: 200;
    font-family: "Noto Sans", "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    padding-bottom: 2em;
    padding-left: 5vw;
    padding-right: 5vw;
}
